/* Reset de estilos para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/Puppy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(0.5);
    z-index: -1;
}

/* Estilos para o contêiner de login */
.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, .2);
    text-align: center;
}

/* Estilos para o título */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

/* Estilos para os campos de entrada */
label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Estilos para o botão de envio */
button[type="submit"] {
    background-color: #12db84;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0fa641;
}
