/*Generals*/
h3 {
    transition: color 0.7s;
}

a, button {
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    transition: all 0.6s;
}

h3:hover, button:hover {
    color: rgb(100, 100, 100);
}

button:hover {
    transform: scale(1.05);
}

button:hover, a:hover {
    cursor: pointer;
}


/* Estilos para o elemento hr na vertical */
hr.vertical {
    width: 1px; 
    height: 100px;
    background-color: #ccc;
    border: none; 
    margin: 0 10px;
    transform: rotate(90deg);
}

/*Class*/

/*Main section*/
.main {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Left body section*/
.bodyleft {
    background-color: rgb(32, 32, 32);
    display: grid;
    grid-template-rows: 2fr 6fr;
    gap: 20px;
    width: auto;
}

/*User account section*/
.User_Account {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

/*Account access*/
.Account_access {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/*Login and Register buttons*/
.Register, .Login {
    background-color: rgb(9, 189, 69);
    border-radius: 25px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: all 0.6s;
}

.Register:hover, .Login:hover {
    transform: scale(1.05);
    background-color: rgb(19, 229, 169);
    color: white;
}

/*Profile info*/
.ProfileInfo {
    display: grid;
    align-self: center;
    height: 100px;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    background-color: rgb(22, 22, 22);
    transition: all 0.5s;
}

.profileconfig {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-image: url(images/icons/user.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-self: center;
    align-self: center;
}

.UserName {
    align-self: center;
    justify-self: left;
    margin-left: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.ProfileInfo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/*Bots selection section*/
.Select_bots {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

/*Bot section*/
.bot {
    padding-right: 10px;
    position: relative;
    align-self: flex-start;
    height: 100px;
    background-color: transparent;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    border-radius:25px 25px 25px 25px;
    inline-size: auto;
    padding-inline-start: 24px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    gap: 5px;
    transition: transform 0.4s;
}

.bot:hover {
    transform: scale(1.05);
    cursor: pointer; 
}

.bot:active {
    transition: all .2s;
    transform: scale(1.05);
}


/*Bot profile*/
.BotImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-start;
}

.catbotimg {
    background-image: linear-gradient(to left, transparent, black), url(images/kittenBOG.jpg);

}

.duckbot {
    background-image: linear-gradient(to left, transparent, black), url(images/duck\ picture.jpg);

}

.dogbot {
    background-image: linear-gradient(to left, transparent, black), url(images/Puppy.jpg);

}

.sadguy {
    background-image: linear-gradient(to left, transparent, black), url(images/SigmaDog.jpg);
}

/*Bot description*/
.botdescription {
    color: white;
    font-size: 3vh;
    font-family: 'Roboto', sans-serif;
    transition: all .4s;
}

/*Notifications*/
.chatsNotifications {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 15px;
    background-color: rgb(208, 255, 0);
    color: rgb(0, 0, 0);
    font-weight: 900;
    border-radius: 25px;
}

/*Right body section*/
.bodyright {
    width: auto;
    position: relative;
    display: grid;
    grid-template-rows: 9fr 1fr;
    justify-content: center;
}

/*Background Image*/
.bodyright::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/duck\ picture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(0.5);
    z-index: -1;
}

/*Button*/
.Start_Button {
    width: auto;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    align-self: center;
}

/*Credits*/
.credits {
    background-color: transparent;
    width: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-self: center;
    height: auto;
    margin: 0.7vh;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
}

.linkhover:hover {
    color: rgb(100, 100, 100);
}

/*responsivity*/

@media screen and (max-width: 764px) {
    .Register, .Login{
        font-size: 4vh;
    }
    .main {
        grid-template-columns: 1fr;
    }
    .bodyleft{
        grid-template-rows: 1fr;
    }
    .ProfileInfo:hover, .bot:hover {
        transform: scale(1) translateY(10px);
    }
    /*Notifications*/
    .chatsNotifications {
        position: absolute;
        bottom: -8px;
        right: 1;
        opacity: 0.9;
    }
    .Select_bots{
        grid-template-rows: 5fr;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 10px;
    }
}
