/*general*/
body:hover{
    cursor: default;
}

a, button{
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    transition: all 0.6s;
}

button:hover, a:hover{
    cursor: pointer;
}

main{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*body leftside*/
.bodyleft{;
    display: grid;
    grid-template-columns:1fr;
    min-width: fit-content;
}
.bodyleft img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: -30vw;
    height: 100%;
    filter: brightness(0.2);
    z-index: -1;
}

/*Return*/
.Return{
    position: fixed;
    font-size: 1.8329vw;
    top: 1.04167vh;
    left: 1.04167vh;
    padding: 1.9531vh 1.8329vw;
    background-color: rgb(9, 189, 69);
    border-radius: 35px;
    transition: 0.6s;
}

.Return:hover{
    transform: scale(1.2);
    transform-origin: left;
    background-color: rgb(160, 7, 127);
}
/*body midsection*/
.midsection{
    background-color: rgb(51, 51, 51);   
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255);
}

/*Overflow costumization*/
.midsection::-webkit-scrollbar-track {
    background-color:transparent; 
}
.midsection::-webkit-scrollbar-thumb {
    background-color: rgb(158, 158, 158);
    border-radius: 25px;
    cursor: pointer;
}
.midsection::-webkit-scrollbar {
    width: 10px; 
}


/*content midsection*/
.Configs{
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
    margin: 1.04167vh;
}

.Userpic_name{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

.Profileimg{
    width: 23.4375vh;
    height: 23.4375vh;
    border-radius: 50%;
    background-image: url(images/icons/user.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
}
.Profileimg:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.Profileimg:active{
    transform: scale(0.9);
    cursor: pointer;
}
.ProfileStatusAndName{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.Username, .BotConfig{
    color: white;
    font-size: 3.90625vh;
    font-family: 'Lexend', sans-serif;
    transition: all 0.2s;
}
.Username:hover{
    transform: scale(1.01);
    transform-origin: left;
    cursor: pointer;
    color: rgb(255, 230, 0);
}
.Username:active{
    transform: scale(0.9);
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.status{
    color: white;
    font-size: 2.53125vh;
    font-family: 'Lexend', sans-serif;
    background-color: rgb(24, 24, 24);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 15px 1px;
    transition: all 0.2s;
    margin: 5px;
}

.Alert{
    font-size: 3.2552vh;
    font-family: 'Lexend', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 15px 1px;
    transition: all 0.2s;
    margin: 5px;
}

.status:hover{
    color: rgb(24, 24, 24);
    background-color: white;
    cursor: pointer;
}
.status:active{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}
.Alert:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(41, 124, 3);
    cursor: pointer;
}

/*body rightside*/
.bodyright{
    background-color: rgb(26, 26, 26);
    display: grid;
    grid-template-columns: 1fr;
}
.About{
    color: white;
    font-family: 'Roboto', sans-serif;
    width: auto;
}
.About h1{
    font-size: 3.9vh;
    display: flex;
    justify-content: center;
}
.About p{
    font-size: 3.35vh;
    text-align: justify;
    margin: 3vh;
}
.createbot{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.marks{
    background-color: rgb(255, 255, 255);
    margin: 0.5021vh;
    padding: 0.7vh;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    transition: all 0.6s;
}
.marks img{
    align-self: center;
    height: 6vh;
}
.marks:hover{
    cursor: pointer;
    background-color: rgb(238, 154, 255);
}

.marks:active{
    transition: all 0.1s;
    transform: scale(1.03);
    background-color: rgb(212, 0, 255);
}

