.user {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 2px solid black;
}

.bot_selection {
    font-size: medium;
    font-family: 'roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    cursor: pointer;
}

.botselect {
    position: absolute;
    justify-content: center;
    background-color: white;
    padding: 5px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 35px;
}

.option {
    width: 100px; /* Aumentado o tamanho para corresponder à resolução da imagem */
    height: 100px; /* Aumentado o tamanho para corresponder à resolução da imagem */
    background-size: cover; /* Evita distorções */
    border-radius: 50%;
    transition: transform 1s;
    background-repeat: no-repeat; /* Evita repetição da imagem de fundo */
    background-position: center; /* Centraliza a imagem de fundo */
}

.option:hover {
    transform: scale(1.2);
}

/* Mostrar .botselect quando .bot_selection é hover */
.bot_selection:hover .botselect {
    opacity: 100%;
}

/* Adicionando estilos para as classes .gato, .pato e .dog com imagens de fundo */
.gato {
    background-image: url('kitten.jpg');
}

.pato {
    background-image: url('duck.jpg');
}

.dog {
    background-image: url('Puppy.jpg');
}
